Applications/ModelSoC/plugins/org.oasisopen.names.tc.opendocument/model/anim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="math.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="chart.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="config.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="number.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="dr3d.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="draw.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="form.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="meta.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="office.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="presentation.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="script.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="smil.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="style.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="svg.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="table.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="fo.xsd"/>
  <xs:attribute name="id" type="text:ID"/>
  <xs:element name="animate" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-anim-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-named-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-values-attlist"/>
      <xs:attributeGroup ref="text:common-anim-spline-mode-attlist"/>
      <xs:attributeGroup ref="text:common-spline-anim-value-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
      <xs:attributeGroup ref="text:common-anim-add-accum-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-anim-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-named-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-set-values-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
      <xs:attributeGroup ref="text:common-anim-add-accum-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateMotion" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:attributeGroup ref="text:anim-animate-motion-attlist"/>
      <xs:attributeGroup ref="text:common-anim-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-named-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-add-accum-attlist"/>
      <xs:attributeGroup ref="text:common-anim-values-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
      <xs:attributeGroup ref="text:common-spline-anim-value-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateColor" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-anim-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-named-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-add-accum-attlist"/>
      <xs:attributeGroup ref="text:common-anim-values-attlist"/>
      <xs:attributeGroup ref="text:common-anim-spline-mode-attlist"/>
      <xs:attributeGroup ref="text:common-spline-anim-value-attlist"/>
      <xs:attributeGroup ref="text:anim-animate-color-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateTransform" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-anim-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-named-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-add-accum-attlist"/>
      <xs:attributeGroup ref="text:common-anim-values-attlist"/>
      <xs:attributeGroup ref="text:anim-animate-transform-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="transitionFilter" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-anim-target-attlist"/>
      <xs:attributeGroup ref="text:common-anim-add-accum-attlist"/>
      <xs:attributeGroup ref="text:common-anim-values-attlist"/>
      <xs:attributeGroup ref="text:common-anim-spline-mode-attlist"/>
      <xs:attributeGroup ref="text:anim-transition-filter-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="par" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="text:animation-element"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-anim-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
      <xs:attributeGroup ref="text:common-endsync-timing-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seq" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="text:animation-element"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-anim-attlist"/>
      <xs:attributeGroup ref="text:common-endsync-timing-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iterate" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="text:animation-element"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-anim-attlist"/>
      <xs:attributeGroup ref="text:anim-iterate-attlist"/>
      <xs:attributeGroup ref="text:common-timing-attlist"/>
      <xs:attributeGroup ref="text:common-endsync-timing-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="audio" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-anim-attlist"/>
      <xs:attributeGroup ref="text:anim-audio-attlist"/>
      <xs:attributeGroup ref="text:common-basic-timing-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="command" substitutionGroup="text:animation-element">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="anim:param"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-anim-attlist"/>
      <xs:attributeGroup ref="text:anim-command-attlist"/>
      <xs:attributeGroup ref="text:common-begin-end-timing-attlist"/>
      <xs:attributeGroup ref="text:common-anim-target-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:attribute form="qualified" name="name" use="required"/>
      <xs:attribute form="qualified" name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="color-interpolation">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="rgb"/>
        <xs:enumeration value="hsl"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="color-interpolation-direction">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="clockwise"/>
        <xs:enumeration value="counter-clockwise"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="sub-item" type="text:string"/>
  <xs:attribute name="formula" type="text:string"/>
  <xs:attribute name="iterate-type" type="text:string"/>
  <xs:attribute name="iterate-interval" type="text:duration"/>
  <xs:attribute name="audio-level" type="text:double"/>
  <xs:attribute name="command" type="text:string"/>
</xs:schema>
