Applications/ModelSoC/plugins/org.oasisopen.names.tc.opendocument/model/dr3d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="math.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="anim.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="chart.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="config.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="number.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="draw.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="form.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="meta.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="office.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="presentation.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="script.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="smil.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="style.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="svg.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="table.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="fo.xsd"/>
  <xs:element name="scene" substitutionGroup="text:shapes3d">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="svg:title"/>
        <xs:element minOccurs="0" ref="svg:desc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dr3d:light"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="text:shapes3d"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:dr3d-scene-attlist"/>
      <xs:attributeGroup ref="text:common-draw-position-attlist"/>
      <xs:attributeGroup ref="text:common-draw-size-attlist"/>
      <xs:attributeGroup ref="text:common-draw-style-name-attlist"/>
      <xs:attributeGroup ref="text:common-draw-z-index-attlist"/>
      <xs:attributeGroup ref="text:common-draw-id-attlist"/>
      <xs:attributeGroup ref="text:common-draw-layer-name-attlist"/>
      <xs:attributeGroup ref="text:common-text-spreadsheet-shape-attlist"/>
      <xs:attributeGroup ref="text:common-dr3d-transform-attlist"/>
      <xs:attributeGroup ref="text:common-draw-caption-id-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="vrp" type="text:vector3D"/>
  <xs:attribute name="vpn" type="text:vector3D"/>
  <xs:attribute name="vup" type="text:vector3D"/>
  <xs:attribute name="projection">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="parallel"/>
        <xs:enumeration value="perspective"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="distance" type="text:length"/>
  <xs:attribute name="focal-length" type="text:length"/>
  <xs:attribute name="shadow-slant" type="text:nonNegativeInteger"/>
  <xs:attribute name="shade-mode">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="flat"/>
        <xs:enumeration value="phong"/>
        <xs:enumeration value="gouraud"/>
        <xs:enumeration value="draft"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="ambient-color" type="text:color"/>
  <xs:attributeGroup name="lighting-mode">
    <xs:attribute name="lighting-mode" use="required" form="qualified" type="text:boolean"/>
  </xs:attributeGroup>
  <xs:attribute name="transform"/>
  <xs:element name="light">
    <xs:complexType>
      <xs:attributeGroup ref="text:dr3d-light-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="diffuse-color" type="text:color"/>
  <xs:attribute name="direction" type="text:vector3D"/>
  <xs:attribute name="enabled" type="text:boolean"/>
  <xs:attribute name="specular" type="text:boolean"/>
  <xs:element name="cube" substitutionGroup="text:shapes3d">
    <xs:complexType>
      <xs:attributeGroup ref="text:dr3d-cube-attlist"/>
      <xs:attributeGroup ref="text:common-draw-z-index-attlist"/>
      <xs:attributeGroup ref="text:common-draw-id-attlist"/>
      <xs:attributeGroup ref="text:common-draw-layer-name-attlist"/>
      <xs:attributeGroup ref="text:common-draw-style-name-attlist"/>
      <xs:attributeGroup ref="text:common-dr3d-transform-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="min-edge" type="text:vector3D"/>
  <xs:attribute name="max-edge" type="text:vector3D"/>
  <xs:element name="sphere" substitutionGroup="text:shapes3d">
    <xs:complexType>
      <xs:attributeGroup ref="text:dr3d-sphere-attlist"/>
      <xs:attributeGroup ref="text:common-draw-z-index-attlist"/>
      <xs:attributeGroup ref="text:common-draw-id-attlist"/>
      <xs:attributeGroup ref="text:common-draw-layer-name-attlist"/>
      <xs:attributeGroup ref="text:common-draw-style-name-attlist"/>
      <xs:attributeGroup ref="text:common-dr3d-transform-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="center" type="text:vector3D"/>
  <xs:attribute name="size" type="text:vector3D"/>
  <xs:element name="extrude" substitutionGroup="text:shapes3d">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-draw-path-data-attlist"/>
      <xs:attributeGroup ref="text:common-draw-viewbox-attlist"/>
      <xs:attributeGroup ref="text:common-draw-id-attlist"/>
      <xs:attributeGroup ref="text:common-draw-z-index-attlist"/>
      <xs:attributeGroup ref="text:common-draw-layer-name-attlist"/>
      <xs:attributeGroup ref="text:common-draw-style-name-attlist"/>
      <xs:attributeGroup ref="text:common-dr3d-transform-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rotate" substitutionGroup="text:shapes3d">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-draw-viewbox-attlist"/>
      <xs:attributeGroup ref="text:common-draw-path-data-attlist"/>
      <xs:attributeGroup ref="text:common-draw-z-index-attlist"/>
      <xs:attributeGroup ref="text:common-draw-id-attlist"/>
      <xs:attributeGroup ref="text:common-draw-layer-name-attlist"/>
      <xs:attributeGroup ref="text:common-draw-style-name-attlist"/>
      <xs:attributeGroup ref="text:common-dr3d-transform-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="horizontal-segments" type="text:nonNegativeInteger"/>
  <xs:attribute name="vertical-segments" type="text:nonNegativeInteger"/>
  <xs:attribute name="edge-rounding" type="text:percent"/>
  <xs:attribute name="edge-rounding-mode">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="correct"/>
        <xs:enumeration value="attractive"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="back-scale" type="text:percent"/>
  <xs:attribute name="depth" type="text:length"/>
  <xs:attribute name="backface-culling">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="enabled"/>
        <xs:enumeration value="disabled"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="end-angle" type="text:nonNegativeInteger"/>
  <xs:attribute name="close-front" type="text:boolean"/>
  <xs:attribute name="close-back" type="text:boolean"/>
  <xs:attributeGroup name="lighting-mode1">
    <xs:attribute name="lighting-mode" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="standard"/>
          <xs:enumeration value="double-sided"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attribute name="normals-kind">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="object"/>
        <xs:enumeration value="flat"/>
        <xs:enumeration value="sphere"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="normals-direction">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="normal"/>
        <xs:enumeration value="inverse"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="texture-generation-mode-x">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="object"/>
        <xs:enumeration value="parallel"/>
        <xs:enumeration value="sphere"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="texture-generation-mode-y">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="object"/>
        <xs:enumeration value="parallel"/>
        <xs:enumeration value="sphere"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="texture-kind">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="luminance"/>
        <xs:enumeration value="intensity"/>
        <xs:enumeration value="color"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="texture-filter">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="enabled"/>
        <xs:enumeration value="disabled"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="texture-mode">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="replace"/>
        <xs:enumeration value="modulate"/>
        <xs:enumeration value="blend"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="emissive-color" type="text:color"/>
  <xs:attribute name="specular-color" type="text:color"/>
  <xs:attribute name="shininess" type="text:percent"/>
  <xs:attribute name="shadow">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="visible"/>
        <xs:enumeration value="hidden"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
