Applications/ModelSoC/plugins/org.oasisopen.names.tc.opendocument/model/meta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="math.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="anim.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="chart.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="config.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="number.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="dr3d.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="draw.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="form.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="office.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="presentation.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="script.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="smil.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="style.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="svg.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="table.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="fo.xsd"/>
  <xs:element name="generator" substitutionGroup="text:office-meta-data" type="text:string"/>
  <xs:element name="keyword" substitutionGroup="text:office-meta-data" type="text:string"/>
  <xs:element name="initial-creator" substitutionGroup="text:office-meta-data" type="text:string"/>
  <xs:element name="printed-by" substitutionGroup="text:office-meta-data" type="text:string"/>
  <xs:element name="creation-date" substitutionGroup="text:office-meta-data" type="text:dateTime"/>
  <xs:element name="print-date" substitutionGroup="text:office-meta-data" type="text:dateTime"/>
  <xs:element name="template" substitutionGroup="text:office-meta-data">
    <xs:complexType>
      <xs:attribute ref="xlink:href" use="required"/>
      <xs:attribute ref="xlink:type" default="simple"/>
      <xs:attributeGroup ref="xlink:actuate"/>
      <xs:attribute ref="xlink:title"/>
      <xs:attribute name="date" form="qualified" type="text:dateTime"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="auto-reload" substitutionGroup="text:office-meta-data">
    <xs:complexType>
      <xs:attribute ref="xlink:type" default="simple"/>
      <xs:attributeGroup ref="xlink:show2"/>
      <xs:attributeGroup ref="xlink:actuate1"/>
      <xs:attribute ref="xlink:href"/>
      <xs:attribute name="delay" form="qualified" type="text:duration"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hyperlink-behaviour" substitutionGroup="text:office-meta-data">
    <xs:complexType>
      <xs:attribute ref="office:target-frame-name"/>
      <xs:attributeGroup ref="xlink:show1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="editing-cycles" substitutionGroup="text:office-meta-data" type="text:nonNegativeInteger"/>
  <xs:element name="editing-duration" substitutionGroup="text:office-meta-data" type="text:duration"/>
  <xs:element name="document-statistic" substitutionGroup="text:office-meta-data">
    <xs:complexType>
      <xs:attribute name="page-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="table-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="draw-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="image-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="ole-object-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="object-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="paragraph-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="word-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="character-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="frame-count" type="text:nonNegativeInteger"/>
      <xs:attribute name="sentence-count" type="text:nonNegativeInteger"/>
      <xs:attribute name="syllable-count" type="text:nonNegativeInteger"/>
      <xs:attribute name="non-whitespace-character-count" type="text:nonNegativeInteger"/>
      <xs:attribute name="row-count" form="qualified" type="text:nonNegativeInteger"/>
      <xs:attribute name="cell-count" form="qualified" type="text:nonNegativeInteger"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="user-defined" substitutionGroup="text:office-meta-data">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" form="qualified" type="text:string"/>
      <xs:attribute name="value-type" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="float"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="string"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="date-string" type="text:string"/>
</xs:schema>
