Applications/ModelSoC/plugins/org.oasisopen.names.tc.opendocument/model/number.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="math.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="anim.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="chart.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="config.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="dr3d.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="draw.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="form.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="meta.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="office.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="presentation.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="script.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="smil.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="style.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="svg.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="table.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="fo.xsd"/>
  <xs:element name="number-style">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="style:text-properties"/>
        <xs:element minOccurs="0" ref="number:text"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="text:any-number"/>
          <xs:element minOccurs="0" ref="number:text"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="style:map"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-data-style-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="number" substitutionGroup="text:any-number">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="number:embedded-text"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:number-number-attlist"/>
      <xs:attributeGroup ref="text:common-decimal-places-attlist"/>
      <xs:attributeGroup ref="text:common-number-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="decimal-replacement"/>
  <xs:attribute name="display-factor" type="text:double"/>
  <xs:element name="embedded-text">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="text:number-embedded-text-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="position" type="text:integer"/>
  <xs:element name="scientific-number" substitutionGroup="text:any-number">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-scientific-number-attlist"/>
      <xs:attributeGroup ref="text:common-decimal-places-attlist"/>
      <xs:attributeGroup ref="text:common-number-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="min-exponent-digits" type="text:integer"/>
  <xs:element name="fraction" substitutionGroup="text:any-number">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-fraction-attlist"/>
      <xs:attributeGroup ref="text:common-number-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="min-numerator-digits" type="text:integer"/>
  <xs:attribute name="min-denominator-digits" type="text:integer"/>
  <xs:attribute name="denominator-value" type="text:integer"/>
  <xs:element name="currency-style">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="style:text-properties"/>
        <xs:element minOccurs="0" ref="number:text"/>
        <xs:choice minOccurs="0">
          <xs:sequence>
            <xs:group ref="text:number-and-text"/>
            <xs:group minOccurs="0" ref="text:currency-symbol-and-text"/>
          </xs:sequence>
          <xs:sequence>
            <xs:group ref="text:currency-symbol-and-text"/>
            <xs:group minOccurs="0" ref="text:number-and-text"/>
          </xs:sequence>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="style:map"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-data-style-attlist"/>
      <xs:attributeGroup ref="text:common-auto-reorder-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="currency-symbol">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="text:number-currency-symbol-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="language" type="text:languageCode"/>
  <xs:attribute name="country" type="text:countryCode"/>
  <xs:element name="percentage-style">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="style:text-properties"/>
        <xs:element minOccurs="0" ref="number:text"/>
        <xs:group minOccurs="0" ref="text:number-and-text"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="style:map"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-data-style-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date-style">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="style:text-properties"/>
        <xs:element minOccurs="0" ref="number:text"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:group ref="text:any-date"/>
          <xs:element minOccurs="0" ref="number:text"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="style:map"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-data-style-attlist"/>
      <xs:attributeGroup ref="text:common-auto-reorder-attlist"/>
      <xs:attributeGroup ref="text:common-format-source-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="day">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-day-attlist"/>
      <xs:attributeGroup ref="text:common-calendar-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="style">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="short"/>
        <xs:enumeration value="long"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:element name="month">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-month-attlist"/>
      <xs:attributeGroup ref="text:common-calendar-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="textual" type="text:boolean"/>
  <xs:attribute name="possessive-form" type="text:boolean"/>
  <xs:element name="year">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-year-attlist"/>
      <xs:attributeGroup ref="text:common-calendar-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="era">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-era-attlist"/>
      <xs:attributeGroup ref="text:common-calendar-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="day-of-week">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-day-of-week-attlist"/>
      <xs:attributeGroup ref="text:common-calendar-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="week-of-year">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-calendar-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="quarter">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-quarter-attlist"/>
      <xs:attributeGroup ref="text:common-calendar-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="time-style">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="style:text-properties"/>
        <xs:element minOccurs="0" ref="number:text"/>
        <xs:sequence maxOccurs="unbounded">
          <xs:group ref="text:any-time"/>
          <xs:element minOccurs="0" ref="number:text"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="style:map"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:number-time-style-attlist"/>
      <xs:attributeGroup ref="text:common-data-style-attlist"/>
      <xs:attributeGroup ref="text:common-format-source-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="truncate-on-overflow" type="text:boolean"/>
  <xs:element name="hours">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-hours-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="minutes">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-minutes-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seconds">
    <xs:complexType>
      <xs:attributeGroup ref="text:number-seconds-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="decimal-places" type="text:integer"/>
  <xs:element name="am-pm">
    <xs:complexType/>
  </xs:element>
  <xs:element name="boolean-style">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="style:text-properties"/>
        <xs:element minOccurs="0" ref="number:text"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="number:boolean"/>
          <xs:element minOccurs="0" ref="number:text"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="style:map"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-data-style-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="boolean">
    <xs:complexType/>
  </xs:element>
  <xs:element name="text-style">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="style:text-properties"/>
        <xs:element minOccurs="0" ref="number:text"/>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="number:text-content"/>
          <xs:element minOccurs="0" ref="number:text"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="style:map"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-data-style-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="text-content">
    <xs:complexType/>
  </xs:element>
  <xs:attribute name="title"/>
  <xs:attribute name="transliteration-format" type="text:string"/>
  <xs:attribute name="transliteration-language" type="text:countryCode"/>
  <xs:attribute name="transliteration-country" type="text:countryCode"/>
  <xs:attribute name="transliteration-style">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="short"/>
        <xs:enumeration value="medium"/>
        <xs:enumeration value="long"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="automatic-order" type="text:boolean"/>
  <xs:attribute name="format-source">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="fixed"/>
        <xs:enumeration value="language"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="min-integer-digits" type="text:integer"/>
  <xs:attribute name="grouping" type="text:boolean"/>
  <xs:attribute name="calendar">
    <xs:simpleType>
      <xs:union memberTypes="text:string">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="gregorian"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="gengou"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ROC"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="hanja_yoil"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="hanja"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="hijri"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="jewish"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="buddhist"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
