Applications/ModelSoC/plugins/org.oasisopen.names.tc.opendocument/model/svg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:anim="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:presentation="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:smil="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="math.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="anim.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="chart.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="config.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="number.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="dr3d.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="draw.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="form.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="meta.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="office.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="presentation.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="script.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="smil.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="style.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="table.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="fo.xsd"/>
  <xs:attribute name="x1" type="text:coordinate"/>
  <xs:attribute name="y1" type="text:coordinate"/>
  <xs:attribute name="x2" type="text:coordinate"/>
  <xs:attribute name="y2" type="text:coordinate"/>
  <xs:attribute name="d" type="text:pathData"/>
  <xs:attribute name="cx" type="text:coordinate"/>
  <xs:attribute name="cy" type="text:coordinate"/>
  <xs:attribute name="r" type="text:length"/>
  <xs:attribute name="rx" type="text:length"/>
  <xs:attribute name="ry" type="text:length"/>
  <xs:attributeGroup name="y">
    <xs:attribute name="y" use="required" form="qualified" type="text:coordinate"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="x">
    <xs:attribute name="x" use="required" form="qualified" type="text:coordinate"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="width">
    <xs:attribute name="width" use="required" form="qualified" type="text:length"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="height">
    <xs:attribute name="height" use="required" form="qualified" type="text:length"/>
  </xs:attributeGroup>
  <xs:attribute name="viewBox">
    <xs:simpleType>
      <xs:restriction>
        <xs:simpleType>
          <xs:list>
            <xs:simpleType>
              <xs:union memberTypes="text:integer text:integer text:integer text:integer"/>
            </xs:simpleType>
          </xs:list>
        </xs:simpleType>
        <xs:length value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup name="x1">
    <xs:attribute name="x" use="required" form="qualified">
      <xs:simpleType>
        <xs:union memberTypes="text:distance text:percent"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="y1">
    <xs:attribute name="y" use="required" form="qualified">
      <xs:simpleType>
        <xs:union memberTypes="text:distance text:percent"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:attribute name="path" type="text:pathData"/>
  <xs:attribute name="origin" type="text:string"/>
  <xs:attribute name="type">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="translate"/>
        <xs:enumeration value="scale"/>
        <xs:enumeration value="rotate"/>
        <xs:enumeration value="skewX"/>
        <xs:enumeration value="skewY"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="font-family" type="text:string"/>
  <xs:attribute name="font-style" type="text:fontStyle"/>
  <xs:attribute name="font-variant" type="text:fontVariant"/>
  <xs:attribute name="font-weight" type="text:fontWeight"/>
  <xs:attribute name="font-stretch">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="normal"/>
        <xs:enumeration value="ultra-condensed"/>
        <xs:enumeration value="extra-condensed"/>
        <xs:enumeration value="condensed"/>
        <xs:enumeration value="semi-condensed"/>
        <xs:enumeration value="semi-expanded"/>
        <xs:enumeration value="expanded"/>
        <xs:enumeration value="extra-expanded"/>
        <xs:enumeration value="ultra-expanded"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="font-size" type="text:positiveLength"/>
  <xs:attribute name="unicode-range"/>
  <xs:attribute name="units-per-em" type="text:integer"/>
  <xs:attribute name="panose-1"/>
  <xs:attribute name="stemv" type="text:integer"/>
  <xs:attribute name="stemh" type="text:integer"/>
  <xs:attribute name="slope" type="text:integer"/>
  <xs:attribute name="cap-height" type="text:integer"/>
  <xs:attribute name="x-height" type="text:integer"/>
  <xs:attribute name="accent-height" type="text:integer"/>
  <xs:attribute name="ascent" type="text:integer"/>
  <xs:attribute name="descent" type="text:integer"/>
  <xs:attribute name="widths"/>
  <xs:attribute name="bbox"/>
  <xs:attribute name="ideographic" type="text:integer"/>
  <xs:attribute name="alphabetic" type="text:integer"/>
  <xs:attribute name="mathematical" type="text:integer"/>
  <xs:attribute name="hanging" type="text:integer"/>
  <xs:attribute name="v-ideographic" type="text:integer"/>
  <xs:attribute name="v-alphabetic" type="text:integer"/>
  <xs:attribute name="v-mathematical" type="text:integer"/>
  <xs:attribute name="v-hanging" type="text:integer"/>
  <xs:attribute name="underline-position" type="text:integer"/>
  <xs:attribute name="underline-thickness" type="text:integer"/>
  <xs:attribute name="strikethrough-position" type="text:integer"/>
  <xs:attribute name="strikethrough-thickness" type="text:integer"/>
  <xs:attribute name="overline-position" type="text:integer"/>
  <xs:attribute name="overline-thickness" type="text:integer"/>
  <xs:element name="font-face-src">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="svg:font-face-uri"/>
        <xs:element ref="svg:font-face-name"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-uri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:font-face-format"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-svg-font-face-xlink-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-format">
    <xs:complexType>
      <xs:attribute name="string" form="qualified"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-name">
    <xs:complexType>
      <xs:attribute name="name" form="qualified"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="definition-src">
    <xs:complexType>
      <xs:attributeGroup ref="text:common-svg-font-face-xlink-attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="linearGradient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:stop"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-svg-gradient-attlist"/>
      <xs:attribute name="x1" default="0%" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="y1" default="0%" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="x2" default="100%" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="y2" default="100%" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="radialGradient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:stop"/>
      </xs:sequence>
      <xs:attributeGroup ref="text:common-svg-gradient-attlist"/>
      <xs:attribute name="cx" default="50%" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cy" default="50%" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="r" default="50%" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fx" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fy" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:coordinate text:percent"/>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="stop">
    <xs:complexType>
      <xs:attribute name="offset" use="required" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="text:double text:percent"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stop-color" form="qualified" type="text:color"/>
      <xs:attribute name="stop-opacity" form="qualified" type="text:double"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="gradientUnits">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="objectBoundingBox"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="gradientTransform" type="text:string"/>
  <xs:attribute name="spreadMethod">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="pad"/>
        <xs:enumeration value="reflect"/>
        <xs:enumeration value="repeat"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attributeGroup name="x2">
    <xs:attribute name="x" use="required" form="qualified">
      <xs:simpleType>
        <xs:union memberTypes="text:coordinate text:percent"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="y2">
    <xs:attribute name="y" use="required" form="qualified">
      <xs:simpleType>
        <xs:union memberTypes="text:coordinate text:percent"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="width1">
    <xs:attribute name="width" use="required" form="qualified">
      <xs:simpleType>
        <xs:union memberTypes="text:length text:percent"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="height1">
    <xs:attribute name="height" use="required" form="qualified">
      <xs:simpleType>
        <xs:union memberTypes="text:length text:percent"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attribute name="stroke-width" type="text:length"/>
  <xs:attribute name="stroke-color" type="text:color"/>
  <xs:attribute name="stroke-opacity">
    <xs:simpleType>
      <xs:union memberTypes="text:percent">
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="fill-rule">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="nonzero"/>
        <xs:enumeration value="evenodd"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
